poc/src/main/mule/dwl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dwlFlow" doc:id="1120d0fd-9e83-4719-af99-6404072ca283" >
		<http:listener doc:name="Listener" doc:id="c3a9cf74-8dc0-4af2-958a-136edb52c60a" path="/dwl" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="520a0658-f27a-4107-bef2-4b6821beb54d" message='#["RUNNING"]'/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message" doc:id="71313209-4f2a-4e24-bee5-a6bf1acf49da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
	"Value using dollar" : '${message}',
	"Value using p" : p('message')
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<ee:transform doc:name="MAP" doc:id="49bfe415-775f-43b7-9d27-00095d470be3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
    "name": item.firstName ++ " " ++ (item.lastName default ""),
    "branch": item.branch map{
        "branchname": $,
        "description": item.firstName ++ " " ++ (item.lastName default "") ++ " is studying in " ++ $
    },
    "rollno": item.firstName ++ "-" ++ (item.lastName default "") ++ "-" ++ item.id
})

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
