poc/src/main/mule/flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="flowsFlow" doc:id="99220bc8-c4c7-4cd5-bb81-5efe2decfd51" >
		<http:listener doc:name="Listener" doc:id="32f1ce9b-7b9f-45e8-9db4-abdf8917772c" config-ref="HTTP_Listener_config" path="/flowscope/{userId}"/>
		<set-payload value='#[{&#10;	"name": "Ritwik"&#10;}]' doc:name="Set Payload" doc:id="35b4eca6-7db2-4d92-a3c7-6662d3259d7b" />
		<set-variable value="test" doc:name="Set Variable" doc:id="dd8905ec-d0b6-479c-87b1-ffd89ef35222" variableName="test"/>
		<logger level="INFO" doc:name="First Logger" doc:id="65739735-e99c-4ada-89ae-b025b1cc423f" message="First Logger"/>
		<http:request method="POST" doc:name="Request" doc:id="dbe76ae0-9b43-4f6a-9533-c73afcf4c497" config-ref="HTTP_Request_configuration" path="/childflow">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
		</http:request>
		<logger level="INFO" doc:name="Third Logger" doc:id="99f66f26-1132-49bb-aca1-2ae0392eed9f" message="Third Logger"/>
	</flow>
	<flow name="flowsFlow1" doc:id="7b20439a-63b1-473e-8f00-7e5015c2742d" >
		<http:listener doc:name="Listener" doc:id="8bd085c7-3f82-4cf5-afe7-9cf12db6aeaa" config-ref="HTTP_Listener_config" path="/childflow"/>
		<logger level="INFO" doc:name="Second Logger" doc:id="929d44d6-f3e3-4743-80f1-90631215ef38" message="Second  Logger" />
	</flow>
	<flow name="mainFlow" doc:id="27601e76-038b-48a1-b67b-7de17367deaa" >
		<http:listener doc:name="Listener" doc:id="6aef68b7-a852-4c48-9486-dad749156b39" config-ref="HTTP_Listener_config" path="/mainflow"/>
		<logger level="INFO" doc:name="Logger" doc:id="58787d98-32b8-4d1c-b123-8083125663e0" />
		<flow-ref doc:name="subFlow" doc:id="dd7afb8e-f42c-4b96-a7e4-63a29c92da1e" name="subFlow"/>
		<flow-ref doc:name="privateFlow" doc:id="bf0c46ee-c47d-4a24-95ec-5975296a2fc2" name="privateFlow"/>
		<async doc:name="Async" doc:id="7d1cf291-872e-4483-9853-10dfbcda8f8a" >
			<flow-ref doc:name="asyncFlow" doc:id="e2f89f99-a103-4cc1-b26e-8207c5c1783d" name="asyncFlow"/>
		</async>
	</flow>
	<sub-flow name="subFlow" doc:id="9b8061a2-5b5e-469f-8d32-b90168c2ba37" >
		<logger level="INFO" doc:name="Logger" doc:id="6c4f4e42-19d0-4ec2-80dd-f6a46e5b8a38" message='"inside sub flow"'/>
	</sub-flow>
	<flow name="privateFlow" doc:id="b21203b1-483c-468c-8909-d6ee19aadbfb" >
		<logger level="INFO" doc:name="Logger" doc:id="301a78f4-f425-4d3e-8ac0-03f983ccce8c" message='"Inside Private flow"'/>
	</flow>
	<flow name="asyncFlow" doc:id="8cbd2764-fce2-4d30-8d7b-1f6243db5592" >
		<logger level="INFO" doc:name="Logger" doc:id="be0b1850-522e-4c0c-9df4-d401b14fdfa1" message='"inside async private flow"'/>
	</flow>
</mule>
